* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    font-family: Arial, sans-serif;
}

.iphone-container {
    width: 428px;
    height: 926px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.app-name {
    font-size: 350px !important;
    color: #007AFF;
    font-weight: bold;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -70%);
    text-align: center;
}

.app-name sup {
    font-size: 0.6em;
    vertical-align: super;
    color: #007AFF;
}

.start-button {
    font-size: 24px;
    color: white;
    background-color: #007AFF;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.circle1 {
    width: 500px;
    height: 500px;
    background-color: #9acfa8;
    border-radius: 50%;
    position: absolute;
    top: -250px;
    left: -250px;
}

.circle2 {
    width: 500px;
    height: 500px;
    background-color: #9acfa8;
    border-radius: 50%;
    position: absolute;
    top: 676px;
    left: 178px;
}
